/WD_tareas/5_RequestDispatcher/nbproject/private/
/WD_tareas/5_RequestDispatcher/build/
/WD_tareas/5_RequestDispatcher/dist/
/WD_tareas/23_loginBD/nbproject/private/
/WD_tareas/23_loginBD/build/
/WD_tareas/24_getParameterNames_Values/nbproject/private/
/WD_tareas/24_getParameterNames_Values/build/
/WD_tareas/25_getResource/nbproject/private/
/WD_tareas/25_getResource/build/
/WD_tareas/25_getResource/dist/
/WD_tareas/26_getResourcePath/nbproject/private/
/WD_tareas/26_getResourcePath/build/
/WD_tareas/27_Filter/nbproject/private/
/WD_tareas/27_filter1/nbproject/private/
/WD_tareas/27_filter1/build/
/WD_tareas/27_filter1/dist/
/WD_tareas/28_LoginFilter/nbproject/private/
/WD_tareas/WADLOGINWITH2FILTER/nbproject/private/
/WD_tareas/WADLOGINWITH2FILTER/dist/
/WD_tareas/WADLOGINWITH2FILTER/build/
/WD_tareas/29_JSPLoginChafa/nbproject/private/
/WD_tareas/29_JSPLoginChafa/build/
/WD_tareas/29_JSPLoginChafa/dist/
/WD_tareas/30_Connection_pool/nbproject/private/
/WD_tareas/ConnectionPool/nbproject/private/
/WD_tareas/ConnectionPool/build/
/WD_tareas/13_RecuperarAtributos/build/
/WD_tareas/tienda_BD/nbproject/private/
/WD_tareas/tienda_BD/build/
/WD_tareas/TiendaconEncodeURL/nbproject/private/
/WD_tareas/TiendaconEncodeURL/build/
/WD_tareas/estudio/nbproject/private/
/WD_tareas/estudio/build/
/WD_tareas/estudio/dist/
/WD_tareas/30_struts/nbproject/private/
/WD_tareas/30_struts/build/
/WD_tareas/30_struts/dist/
/WD_tareas/uso_JSP1/nbproject/private/
/WD_tareas/uso_JSP1/build/
/WD_tareas/uso_JSP1/dist/
/WD_tareas/CUSTOMJSP1/build/
/WD_tareas/CUSTOMJSP1/dist/
/WD_tareas/CUSTOMJSP1/nbproject/private/
/WD_tareas/31_TLDS_TAGS/nbproject/private/
/WD_tareas/31_TLDS_TAGS/build/
/WD_tareas/31_TLDS_TAGS/dist/
/WD_tareas/JSP con tdls y sql/JAVABEAN/build/
/WD_tareas/JSP con tdls y sql/JAVABEAN/nbproject/private/
/WD_tareas/32_JPS_TLDSTAGS_SQL/nbproject/private/
/WD_tareas/32_JPS_TLDSTAGS_SQL/dist/
/WD_tareas/32_JPS_TLDSTAGS_SQL/build/
/WD_tareas/33_Struts2/nbproject/private/
/WD_tareas/33_Struts2/build/
/WD_tareas/33_Struts2/dist/
/WD_tareas/34_Accion/nbproject/private/
/WD_tareas/34_Struts2_injeccionDeDatos/nbproject/private/
/WD_tareas/STRUTS2SESSIONPLUGINPRACTICA/build/
/WD_tareas/STRUTS2SESSIONPLUGINPRACTICA/dist/
/WD_tareas/STRUTS2SESSIONPLUGINPRACTICA/nbproject/private/
/WD_tareas/34_Struts2_injeccionDeDatos/build/
/WD_tareas/35_Struts2_CustomTags/nbproject/private/
/WD_tareas/35_Struts2_CustomTags/build/
/WD_tareas/2_Criptografia/target/