/WD_tareas/5_RequestDispatcher/nbproject/private/
/WD_tareas/5_RequestDispatcher/build/
/WD_tareas/5_RequestDispatcher/dist/
/WD_tareas/23_loginBD/nbproject/private/
/WD_tareas/23_loginBD/build/
/WD_tareas/24_getParameterNames_Values/nbproject/private/
/WD_tareas/24_getParameterNames_Values/build/
/WD_tareas/25_getResource/nbproject/private/
/WD_tareas/25_getResource/build/
/WD_tareas/25_getResource/dist/
/WD_tareas/26_getResourcePath/nbproject/private/
/WD_tareas/26_getResourcePath/build/
/WD_tareas/27_Filter/nbproject/private/
/WD_tareas/27_filter1/nbproject/private/
/WD_tareas/27_filter1/build/
/WD_tareas/27_filter1/dist/
/WD_tareas/28_LoginFilter/nbproject/private/
/WD_tareas/WADLOGINWITH2FILTER/nbproject/private/
/WD_tareas/WADLOGINWITH2FILTER/dist/
/WD_tareas/WADLOGINWITH2FILTER/build/
/WD_tareas/29_JSPLoginChafa/nbproject/private/
/WD_tareas/29_JSPLoginChafa/build/
/WD_tareas/29_JSPLoginChafa/dist/
/WD_tareas/30_Connection_pool/nbproject/private/
/WD_tareas/ConnectionPool/nbproject/private/
/WD_tareas/ConnectionPool/build/
/WD_tareas/13_RecuperarAtributos/build/
/WD_tareas/tienda_BD/nbproject/private/
/WD_tareas/tienda_BD/build/
/WD_tareas/TiendaconEncodeURL/nbproject/private/
/WD_tareas/TiendaconEncodeURL/build/
/WD_tareas/estudio/nbproject/private/
/WD_tareas/estudio/build/
/WD_tareas/estudio/dist/
/WD_tareas/30_struts/nbproject/private/
/WD_tareas/30_struts/build/
/WD_tareas/30_struts/dist/